
.ima-logo{
    width: 100% !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
}

.bg-ufra{
    background-color: #00420c !important;
}

.txt_ufra{
    font-size: 22px !important;
    color: white !important;
    padding-left: 3% !important;
}

.box-admin{
    padding-top: 5% !important;
}

.logo_login{
    width: auto;
}

.lista-formacao{
    padding: 2% !important;
}

a.logout:hover{
    cursor: pointer !important;
}

.menu-publico{
    padding-right: 5% !important;
    color: white !important;
    font-size: 18px !important;
}

.menu-publico:hover{
    color: rgb(18, 174, 247) !important;
}

.list-btn {
    padding-bottom: 5px;
}
